sqlalchemy
spacy
torch
fastapi
uvicorn
pandas
scikit-learn
nlpaug
nltk
pytorch-crf
fasttext-wheel
torchcrf
python-jose[cryptography]
bcrypt
python-multipart
pyyaml
numpy
requests
ddgs
sentencepiece
python-dotenv
